<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="sidebar" sec:authorize="isAuthenticated()">
    <div id="sidebar-toggle">
        <i class="bi bi-chevron-left"></i>
    </div>

    <div id="sidebar">
        <p class="text-white me-2 mb-0" style="text-align: center">
            <span>Tài khoản:</span>
        </p>
        <p class="text-white me-2 mb-0" style="text-align: center">
            <strong><span sec:authentication="principal.username"></span></strong>
        </p>
        <ul></ul>
        <ul class="list-unstyled" sec:authorize="hasRole('ADMIN')">
            <li><a th:href="@{/}">Quản lý khóa học</a></li>
            <li><a th:href="@{/admin/user-list}">Quản lý người dùng</a></li>
        </ul>

        <ul class="list-unstyled" sec:authorize="hasRole('USER')">
            <li><a th:href="@{/user/my-course}">Khóa học của tôi</a></li>
            <li><a th:href="@{/user/profile}">Tài khoản</a></li>
        </ul>
    </div>
</div>

</body>
</html>